<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <style>
            body{
                background: url('../static/background.jpg') no-repeat center center fixed;
                background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
                -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
                -moz-background-size: cover; /* optional for Firefox 3.6 */
                -o-background-size: cover; /* for Opera 9.5 */
                margin: 0; /* to remove the default white margin of body */
                padding: 0; /* to remove the default white margin of body */
                overflow: hidden
            }
            .columns{
                margin: 0 auto;
                display: flex;
                padding: 5em;
            }
            .col-left{
                float:left;
                width: 15%;
            }
            .col-right{
                float:left;
                width: 15%;
            }
            .col-center{
                background-color: #f5f5f5;
                box-shadow: 5px 10px 18px #888888;
                float: left;
                width: 70%;
            }
            .logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items :center;
            }
            .workspace{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items :center;
                padding: 2em;
            }

            .button-6 {
              align-items: center;
              background-color: #FFFFFF;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: .25rem;
              box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
              box-sizing: border-box;
              color: rgba(0, 0, 0, 0.85);
              cursor: pointer;
              display: inline-flex;
              font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
              font-size: 16px;
              font-weight: 600;
              justify-content: center;
              line-height: 1.25;
              margin: 0;
              min-height: 3rem;
              padding: calc(.875rem - 1px) calc(1.5rem - 1px);
              position: relative;
              text-decoration: none;
              transition: all 250ms;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              vertical-align: baseline;
              width: auto;
            }
            .button-6:hover,
            .button-6:focus {
              border-color: rgba(0, 0, 0, 0.15);
              box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
              color: rgba(0, 0, 0, 0.65);
            }
            .button-6:hover {
              transform: translateY(-1px);
            }
            .button-6:active {
              background-color: #F0F0F1;
              border-color: rgba(0, 0, 0, 0.15);
              box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
              color: rgba(0, 0, 0, 0.65);
              transform: translateY(0);
            }

            .label{
                font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items :center;
            }

        </style>

        <title>{% block title %}Title{% endblock %}</title>
    </head>
    <body >
        <div class="container">
            <div class="columns">
                <!-- blank area */ -->
                <div class="col-left"></div>

                <!-- logo -->
                <div class="col-center">
                    <div class="logo">
                        <img class="main" src="../static/pizzometer.png" alt="Pizzometer">
                    </div>

                    <!-- inputs -->
                    <form action=example-server.com" class="workspace">
                        <label class="label">Enter diameter:
                            <input type="number" min="0" id="diameterInput" name = "diameter">
                        </label>
                        <input type="submit" value="Calculate" class="button-6" />
                    </form>

                    <!-- output -->
                    <label class="label">Pizza area: <output id="calculatedPizzaArea"></output></label>
                </div>

                <!-- blank area */ -->
                <div class="col-right"></div>
            </div>
        </div>




        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>

        <script
          type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
</html>